
.app{
  margin-top:50px;
}

.row {
  padding:20px;
}

.user-banner {
  background-color:#eee;
  font-size: 30px;
  margin-bottom:10px;
  min-height: 80px;
}
.user-logo {
  width: 10%;
}

.user-banner a:link, a:visited {
  display: block;
  color: #333;
  width: 100%;
  min-height: 90px;
  padding: 20px;
  verticle-align: middle;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.online {
  background-color: #BAFFA3;
}
.online a:hover, a:active {
  background-color: #94CC82;
}
.offline {
  background-color: #FFBAA3;
}

.offline a:hover, a:active {
  background-color: #E5A792;
}

.stream-name {
	font-size:12px;
}