<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Twitchtv JSON API</title>
    
    
    <!-- CSS -->
    <link rel='stylesheet prefetch' href='css/bootstrap.min.css'>
		<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
		<link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <div ng-app="Twitchtv" ng-controller="MainController" class="container app">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-12 text-center">
					<center><img src="http://s.jtvnw.net/jtv_user_pictures/hosted_images/Twitch_BlackLogoURL.png" class="header-img img-responsive"></center>
					<input type="text" ng-model="search.name" placeholder="Filter by Username">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-12" ng-repeat="user in users | filter: search">
					<div class="user-banner" ng-class="whichBG(user)">
						<a href="http://www.twitch.tv/{{user.name}}" target="_blank">
							<img class="user-logo img-circle" ng-src={{user.logo}}>
							<span>{{user.name}}</span>
							<span class="text-right stream-name">{{user.streamInfo}}</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		
		<!-- Scripts -->
		<script src='js/bootstrap.min.js'></script>
		<script src='js/angular.min.js'></script>
		<script src="js/app.js"></script>
		
  </body>
</html>
